{{#> layouts/base }} {{#*inline "content-block"}}

<div class="container">
    <div class="card col-12">
        <div class="card-header">
            Auszahlung

            <a href="/operations/stats" class="btn btn-outline-secondary float-end m-1"><i class="fa fa-clock"></i></a>
        </div>

        {{#if (lte account.Role.permissionLevel 4) }}
        <form method="post">
            <div class="input-group m-auto mt-3 w-50">
                <input type="number" min="0" class="form-control" placeholder="975000" name="money" value="{{paymentMoneyTotal}}" required />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </form>
        {{/if}}

        <p class="m-auto mt-3 w-50 text-center">
            Es wurden <b>{{money paymentMoneyTotal}}</b> als Auszahlung festgelegt.<br />
            Es wurden <b>{{totalPoints}}</b> Punkte verteilt.<br />
            <small>(Auszahlung wird erst am Ende der Woche festgelegt und kann sich im laufe der Woche verändern!)</small><br />
        </p>

        <hr />
        <div class="card-body">
            <table class="table" id="datatables">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Rang</th>
                        <th scope="col">Punkte</th>
                        <th scope="col">Gehalt</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each members}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td data-order="{{this.sortId}}">{{this.roleName}} ({{this.sortId}})</td>
                        <td>{{this.points}}</td>
                        <td data-order="{{this.money}}">{{money this.money}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatables').DataTable({
            order: [[1, 'asc']],
            pageLength: 15,
            lengthMenu: [
                [15, 50, 100, -1],
                [15, 50, 100, 'Alle'],
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json',
            },
        });
    });
</script>

{{/inline}} {{/layouts/base}}
